/*
Copyright ©. All rights reserved. Designed by Antonio Jimenez Martienz y Andres Ortiz Corrales
*/
* {
	margin:0;
	padding:0;
}
body  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	background: url(../images/backgroundbrown.jpg);
  	background-size: 100% 100%;
	color: #44391C;
}
p {
	line-height:170%;
}
a {
	color:#ECE6AE;
	text-decoration:none;
}
table,th, td {
	text-align: center;
   	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}
th {
	background-color: rgb(216, 112, 11);
}

fieldset{
	padding: 3px 0px 9px 10px
}
h1,h2{
	padding: 10px 0px 10px 0px;
}
h3,h4{
	padding: 10px 0px 10px 20px;
}


/* Formato cabecera*/
.headizq{
	width: 100px;
	float: left;
}

.headder{
	margin: 30px 0 0 0;
	float: right;
}
.headderizq{
	height: 90px;
}
/* Formato cabecera*/
/* Formato container */
.containerSuperior {
	margin: 0 auto;
	width: 1020px;
	background: url(../images/contentBackground.jpg) repeat;
}

.container {
	padding: 5px;
	width: 960px;
	margin: 0 auto;

}
/* Formato container */

section{
	margin: 15px 0 0 0;
}
/* Formato menu */
.MenuIzquierda{
	width: 230px;
	float: left;
	position: relative;
}
.LMenu {

	font-size: 22px;
	/*fonde degradado*/
	background: -webkit-linear-gradient(rgb(249, 160, 0), rgb(152, 97, 12)); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(rgb(249, 160, 0), rgb(152, 97, 12)); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(rgb(249, 160, 0),rgb(152, 97, 12)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(rgb(249, 160, 0), rgb(152, 97, 12));/* Standard syntax */
}
.MenuLateral{
	list-style-type: none;
	text-indent: 6px;
}
#subseccion1, #subseccion2{
	font-size: 18px;
	padding: 5px 0px 10px 25px;
	display: none;
}
.slide{
	width: 230px;
	height: 150px;
	float: left;
}
#slider{
	width: 230px;
	height: 150px;
	overflow: hidden;
	position: relative;
	margin: 10px 0 0 0;
	border: 2px solid rgb(216, 112, 11);

}
/* Formato menu */
/* Formato central */
.mainContent {
	width: 710px;
	margin-left: 250px;
	color: #020202;
}
.mainContentizq{
	width: 435px;
	float: left;
	text-align : justify;
}
.mainContentder{
	margin-left: 458px;
}
.mainContent a{
	color: #0F3A98;

}
/* Formato central */
/* Formato pie de pagina */
.foorterContainer{
	border-top: 4px solid #E5E5E5;
	width: 960px;
	margin: 150px 0px 0px 0px;
	color: #be6100;
}
.foorterContainerInterior{
	height: 105px
}
.footerContainerizq{
	width: 350px;
	float: left;
}
.footerContainerder{

	width: 600px;
	margin-left: 350px;
}

.footerContainerder a{
	color: #0F3A98;
}
/* Formato pie de pagina */


/*procedente antiguo menu superior
.MenuSuperior{
	float: right;
	width: 300px;
	//fonde degradado
	background: -webkit-linear-gradient(rgb(249, 160, 0), rgb(152, 97, 12)); // For Safari 5.1 to 6.0
  	background: -o-linear-gradient(rgb(249, 160, 0), rgb(152, 97, 12)); / For Opera 11.1 to 12.0
 	 background: -moz-linear-gradient(rgb(249, 160, 0),rgb(152, 97, 12)); // For Firefox 3.6 to 15
  	background: linear-gradient(rgb(249, 160, 0), rgb(152, 97, 12));// Standard syntax
	border: 2px solid #BA7708;
	font-size: 26px;
}
.EtiquetaSuperior{
	display: inline;
	padding: 0px 20px 0px 20px;
}
*/

.totalDinero{
	color:red;
	font-size: 16px;
}

.imagenesPatrocinadores{
	margin: 50px 0px 0px 90px;
}
